
body {
  margin: 0;
  width: 1920px;
}

* {
  text-decoration: none;
}

.container {
  width: 1170.55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 27.77px;
  margin: 0 auto;
}

.card {
  display: flex;
}

.card select {
  color: #1E2533;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.distance {
  width: 590px;
  display: flex;
  justify-content: space-between;
  margin-left: 91px;
  margin-right: 70px;
}

.cleaning {
  text-decoration: none;
  color:#000;
}

.cleaning a {
  color: #1E2533;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.circle {
  width: 24px;
  height: 24px;
}

.ring {
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  background: #1E2533;
  border-radius: 50%;
  border: solid 1px #fff;
}

.two_circles {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  width: 48px;
  height: 48px;
  background: #FA7846;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2533;
  margin-right: 16px;
}

.common {
  width: 1163px;
  margin: 0 auto;
}

.navigation {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #606060;
  margin-bottom: 13px;
  padding-left: 20px;
  display: flex;
}

.orange {
  color: #FA7846;
  padding-right: 6px;
}

.photo_text {
  width: 843px;
  display: flex;
  flex-direction: column;
  float: left;
}

.rectangle {
  width: 840px;
  height: 390px;
  margin-bottom: 16px;
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover";
}

.portrait {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.description {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #1E2533;
  margin-bottom: 10px;
}

.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #606060;
  margin-bottom: 17px;
  width: 640px;
}

.block_width {
  width: 843px;
}

.time_and_views {
  display: flex;
  width: 139px;
  justify-content: space-between;
}

.total_time {
  display: flex;
}

.time {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #848484;
  margin-left: 6px;
}

.general_view {
  display: flex;
}

.revision {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #848484;
  margin-left: 7px;
}

.offers {
  width: 22%;
  height: 581px;
  float: right;
  margin-bottom: 110px;
}

.popular {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #1E2533;
  margin-bottom: 13px;
}

.line {
  height: 1px;
  width: 270px;
  background: #000000;
  margin-bottom: 24px;
}

.association {
  margin-bottom: 30px;
}

.canvas {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 9px;
}

.photo_picture {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 4px;
}

.association_two {
  margin-bottom: 30px;
}

.modular_paintings {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 9px;
}

.pro_artists {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 4px;
}

.association_three {
  margin-bottom: 30px;
}

.oil_painting {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 9px;
}

.paintings {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 9px;
}

.semi_round_block {
  display: flex;
  height: 787.91px;
  background: #1E2533;
  width: 1920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.moving {
  margin-top: -550px;
  margin-right: -180px;
}

.common_left {
  display: flex;
  width: 45px;
  margin-right: -13px;
  margin-top: -160px;
}

.common_left :hover {
  background: #FA7846;
  cursor: pointer;
  transition-duration: 0.7s ;
}

.left_arrow {
  display: flex;
  width: 45px;
  height: 45px;
  background: gray;
  z-index: 1;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.left {
  width: 12px;
  height: 19px;
  margin: 0 auto;
}

.new {
  width: 172px;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #FFFFFF;
}

.general_pictures {
  display: flex;
  width: 836px;
  justify-content: space-between;
}

.block_one {
  width: 262px;
}

.canvas_two {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 14px;
  margin-bottom: 9px;
}

.white_picture {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 8.09px;
}

.boast {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #96A1B8;
  margin-bottom: 11px;
  width: 216px;
}

.time_and_views_two {
  display: flex;
  width: 139px;
  justify-content: space-between;
}

.total_time_two {
  display: flex;
}

.time_two {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6C768C;
  margin-left: 6px;
}

.general_view_two {
  display: flex;
}

.revision_two {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6C768C;
  margin-left: 7px;
}

.block_two {
  width: 262px;
}

.modular_paintings_two {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 14px;
  margin-bottom: 9px;
}

.block_three {
  width: 262px;
}

.oil_painting_two {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 14px;
  margin-bottom: 9px;
}

.common_right {
  display: flex;
  width: 45px;
  margin-top: -146px;
  margin-left: -22px;
}

.common_right :hover {
  background: #FA7846;
  cursor: pointer;
  transition-duration: 0.7s ;
}

.right_arrow {
  display: flex;
  width: 45px;
  height: 45px;
  background: gray;
  z-index: 1;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.right {
  width: 12px;
  height: 19px;
  margin: 0 auto;
}

.block_four {
  width: 243px;
  margin-left: 72px;
  padding-bottom: 165px;
}

.heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.portrait_two {
  width: 85px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;  
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.canvas_three {
  width: 74px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.combination {
  display: flex;
  margin-bottom: 14px;
}

.modular_paintings_three {
  width: 180px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.oil_painting_three {
  width: 149px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.combination_two {
  display: flex;
  margin-bottom: 14px;
}

.caricature {
  width: 65px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.paintings_two {
  width: 86px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Digital_portrait {
  width: 191px;
  height: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CCD0D9;
  border: solid 1px #CCD0D9;
  border-radius: 50px  50px  50px  50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_pain {
  display: flex;
  width: 1186px;
  height: 331px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 75.09px;
}

.width_of_cubes {
  display: flex;
  width: 1186px;
  justify-content: space-between;
  margin-bottom: 75px;
}

.text_block_one {
  width: 528px;
}

.modular_paintings_four {
  width: 162px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2533;
  margin-bottom: 16px;
}

.question {
  width: 528px;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #1E2533;
  margin-bottom: 6.09px;
}

.work_two {
  width: 505px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #606060;
  margin-bottom: 40.91px;
}

.text_block_two {
  width: 270px;
}

.gift_photo {
  width: 270px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 5px;
  margin-top: 6px;
}

.gift_photo_two {
  width: 270px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 5px;
  margin-top: 54px;
}

.see_more {
  width: 143px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FC8C5F;
  margin-top: 72.09px;
}

.text_block_three {
  width: 270px;
}

.artists {
  width: 270px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 5px;
}

.artists_two {
  width: 270px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1E2533;
  margin-bottom: 5px;
  margin-top: 54px;
}

.pink_block {
  width: 1920px;
  height: 691px;
  margin: 0 auto;
  background: #FBF2EA;
}

.peoples_stories_important {
  display: flex;
  width: 878px;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  padding-bottom: 49px;
  padding-top: 99px;
  justify-content: center;
  margin: 0 auto;
}

.gyre {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: 376px;
}

.general_pictures_two {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.round_block {
  width: 242px;
}

.best_photo {
  width: 242px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1E2533;
  margin-top: 24px;
  margin-bottom: 9px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.round_block_two {
  width: 248px;
}

.round_block_three {
  width: 248px;
}

.round_block_four {
  width: 248px;
}

.information_block {
  width: 1159px;
  margin: 0 auto;
}

.rainbow {
  
  
}

.read {
  display: flex;
  width: 912px;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-align: center;
  padding-bottom: 49px;
  padding-top: 84px;
  margin: 0 auto;
}

.orange_two {
  color: #FA7846;
  width: 657px;
  
}

.square {
  width: 1159px;
  display: flex;
  justify-content: space-between;
}

.present {
  width: 262px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1E2533;
  margin-top: 14px;
  margin-bottom: 9.09px;
}

.new_markets {
  width: 216px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #606060;
  margin-bottom: 11.91px;
}

.pink_block_two {
  width: 1920px;
  height: 800.5px;
  background: #FBF2EA;
  margin: 0 auto;
  margin-top: 53.09px;
}

.distance_of_blocks {
  width: 1024px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  padding-top: 19.91px;
}

.pictures_with_discounts {
  width: 607px;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  color: #1E2533;
  padding-top: 44.09px;
  padding-bottom: 26px;
  margin: 0 auto;
}

.general_block_with_discounts {
  width: 1160px;
  height: 483px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.discount {
  width: 127px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FC8C5F;
  padding-top: 23.91px;
  margin: 0 auto;
}

.gift {
  width: 346px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 5.09px;
  margin: 0 auto;
}

.social_block {
  width: 1160px;
  height: 414.09px;
  margin: 0 auto;
  margin-bottom: 84.91px;
}

.our_social_networks {
  width: 427px;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  color: #1E2533;
  padding-top: 26.41px;
  padding-bottom: 12px;
  margin: 0 auto;
}

.social {
  display: flex;
  width: 208px;
  justify-content: space-between;
  margin: 0 auto;
}

.general_facebook {
  display: flex;
  width: 99px;
  height: 99px;
  border-radius: 25px;
  background:  #FA7846;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
}

.general_facebook a {
  width: 18.22px;
  height: 38.81px;
}

.facebook {
  width: 18.22px;
  height: 38.81px;
}

.general_instagram {
  display: flex;
  width: 99px;
  height: 99px;
  border-radius: 25px;
  background:  #FA7846;
  justify-content: center;
  align-items: center;
}

.general_instagram a {
  width: 31.68px;
  height: 31.68px;
}

.instagram {
  width: 31.68px;
  height: 31.68px;
}

.paragraph {
  width: 960px;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  padding-top: 86.09px;
  margin: 0 auto;
}

.pink_block_three {
  display: flex;
  width: 1920px;
  height: 714px;
  background: #FBF2EA;
}

.combining_columns {
  display: flex;
  width: 1273px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.column_one {
  width: 227px;
  height: 510px;
}

.information_data {
  width: 236px;
  padding-top: 81.77px;
}

.phone_number {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #1E2533;
  padding-bottom: 24px;
}

.mail_number {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 24px;
}

.mail_number a {
  color: #FC8C5F;
}

.geolocation {
  display: flex;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #1E2533;
  width: 215px;
}

.location {
  padding-right: 5px;
  margin-bottom: 48px;
}

.img {
  padding-right: 5px;
  margin-bottom: -7px;
}

.name {
  width: 315px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1E2533;
  padding-bottom: 9.62px;
  padding-top: 49.5px;
}

.social_two {
  display: flex;
  width: 86px;
  justify-content: space-between;
}

.round_facebook {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:  #FA7846;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 1px rgb(214, 114, 74);
}

.round_facebook a {
  width: 7.52px;
  height: 14px;
}

.face {
  width: 7.52px;
  height: 14px;
}

.round_instagram {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:  #FA7846;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 1px rgb(214, 114, 74);
}

.round_instagram a {
  width: 14px;
  height: 14px;
}

.insta {
  width: 14px;
  height: 14px;
}

.column_two {
  width: 219px;
}

.portrait_style {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1E2533;
  padding-bottom: 40px;
}

.list {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2533;
  padding-bottom: 25px;
}

.column_three {
  width: 181px;
}

.see_portrait {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1E2533;
  padding-bottom: 40px;
}

.column_four {
  width: 158px;
}

.information {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1E2533;
  padding-bottom: 40px;
}

.general_shares {
  width: 77px;
  height: 26px;
  border-radius: 5px;
  background:  #FA7846;
  margin-bottom: 19px;
}

.action {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  padding-left: 17px;
}

.blue_block {
  width: 1920px;
  height: 72px;
  background: #1E2533;
}

.card_string {
  display: flex;
  width: 1357px;
  height: 72px;
  justify-content: space-between;
  margin: 0 auto;
}

.Viarcanvas {
  display: flex;
  width: 162px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  align-items: center;
}


.general_card {
  display: flex;
  width: 237px;
  justify-content: space-between;
  align-items: center;
}


/*
@media (max-width: 1500px) {
  .semi_round_block {
    width: 1400px;
  }
  
  .pink_block {
    width: 1400px;
  }

  .pink_block_two {
    width: 1400px;
  }

  .pink_block_three {
    width: 1400px;
  }

  .blue_block {
    width: 1400px;
  }

  .Viarcanvas {
    padding-left: 25px;
  }

  .pictures_with_discounts {
    margin-left: 406.5px;
  }

  .left_time {
    margin-left: 124.5px;
  }

  .peoples_stories_important {
    padding-left: 265px;
  }
}

@media (max-width: 1400px) {
  .semi_round_block {
    width: 1300px;
  }

  .pink_block {
    width: 1300px;
  }

  .peoples_stories_important {
    padding-left: 214px;
  }

  .pink_block_two {
    width: 1300px;
  }

  .pictures_with_discounts {
    margin-left: 360.5px;
  }

  .left_time {
    margin-left: 85.5px;
  }

  .pink_block_three {
    width: 1300px;
  }

  .blue_block {
    width: 1300px;
  }

  .general_card {
    padding-left: 725px;
}
}

@media (max-width: 1300px) {
  .distance {
    margin-right: 45px;
  }
}

*/











































